@import '../../vendor/filament/filament/resources/css/app.css';

@import './dialogs';
@import './loading.io';

.filament-header-heading {
    display: block;
}

.ticket-comment {

    .actions {
        @apply opacity-0 transition;
    }

    &:hover {
        .actions {
            @apply opacity-100;
        }
    }

}

.filament-forms-repeater-component {
    & > .relative.flex.justify-center {
        @apply justify-start;
    }
}

label:has(.sprint-checkboxes) > span {
    width: 100%;
}
